.chat-card {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 13px 16px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s;

  &:hover {
    background-color: #f5f5f5;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__read-dt {
    margin-left: auto;
  }

  &__message {
    margin-right: auto;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__username {
    font-weight: 600;
  }

  &__message {
    color: #707991;
    font-size: 14px;
  }
}
