@import "normalize.css";

body {
  background-color: #888;
  background-image: url(../assets/bgprint.png);
  overflow: hidden;
  font-family: sans-serif;
}

.app {
  height: 100vh;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
