.chat-view {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
    width: 100%;
  }

  &__message-list {
    overflow-y: scroll;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__input-wrap {
    display: flex;
    justify-content: center;
  }
}
